In [1]:
1, 2, 3

(1, 2, 3)

In [2]:
(1, 2, 3)

(1, 2, 3)

In [3]:
() #empty tuple

()

In [4]:
42

42

In [5]:
42,

(42,)

In [6]:
(42,)

(42,)

In [7]:
3*(40+2)

126

In [9]:
(3*(40+2))

126

In [10]:
#return the leftmost index

title = "Monty Python's Flying Circus"
title.find('Monty')
title.find('Zirquss')
subject = '$$$ Get rich now!!!  $$$'
subject.find('$$$')
subject.find('$$$',1)#only supplying the start

21

In [12]:
'with a moo-moo here, and a moo-moo there'.find('moo')

7

In [13]:
sep = '+'

mylist = ['a', 'b', 'c']
sep.join(mylist)   #Trying to join a list of number

'a+b+c'

In [14]:
list = ['my', 'name', 'is', 'Armaan']
' '.join(list)  #talkinatization

'my name is Armaan'

In [15]:
'my name is Armaan'.split()

['my', 'name', 'is', 'Armaan']

In [17]:
dirs = '', 'usr', 'bin', 'env'
'/'.join(dirs)

'/usr/bin/env'

In [24]:
print('C:' + '\\'.join(dirs))

C:\dusr\dbin\denv

In [19]:
#The ower method returns a lowercase version of the string 
'Trondheim Hammer Dance'.lower()

'trondheim hammer dance'

In [20]:
name = 'Gumby'
names = ['gumby', 'smith', 'jones']
if name.lower() in names:print('Voila')

Voila

In [21]:
#replace method returns a string where all the occurences 
#of one string have been replaced by another
'This is a test'.replace('is','eez')

'Theez eez a test'

In [22]:
#split used to split a string into sequence 
'1+2+3+4+5'.split('+')

['1', '2', '3', '4', '5']

In [23]:
'Using the default'.split()

['Using', 'the', 'default']

In [27]:
#strip method returns a string where whitespace on the left and right (but not internally) has been stripped (removed)
'internal whitespace is kept'.strip()

'internal whitespace is kept'

In [31]:
names = ['gumby','smith','jones']
name = 'gumby '
if name in names:print('Found it!')
if name.strip() in names: print('Found it')

Found it

In [32]:
'*** SPAM * for * everyone!!! ***'.strip('*!')

' SPAM * for * everyone!!! '

In [33]:
'  India...  '.strip(' .')

'India'

In [35]:
#make a translation table
table = str.maketrans('cs','kz')
'This is an incredible test'.translate(table)

'Thiz iz an inkredible tezt'

In [39]:
table = str.maketrans('$','`')
'$dollar$$dollar$$$$$$do$l$lar$'.translate(table)

'`dollar``dollar``````do`l`lar`'

In [40]:
#An optional third argument can be supplied to maketrans, specifying letters that should be deleted
table = str.maketrans('cs', 'kz', ' ')
'This is an incredible test    '.translate(table)

'Thizizaninkredibletezt'

In [41]:
#SETS 
x = set()
# We add to sets with the add() method
x.add(1)
x

{1}

In [42]:
#Add a different element 
x.add(2)
x

{1, 2}

In [43]:
#Try to add the same element 
x.add(1)
x

{1, 2}

In [45]:
list1 = [1,1,2,2,3,4,5,6,1,1]
set(list1)

{1, 2, 3, 4, 5, 6}

In [46]:
#Set object to be a boolean
a = True 
a

True

In [47]:
#Output is boolean 
1>2

False

In [ ]:
#We can use None as a placeholder for an object that we don't want to reassign yet
b = None