In [1]:
#Map Function:

def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
result = []
for i in my_nums:
    s = square(i)
    result.append(s)
result

[1, 4, 9, 16, 25]

In [4]:
map(square,my_nums)

In [5]:
#To get the results either iterate through map()
# or just cast to a list
list(map(square,my_nums))

#So by this, we can conclude that if we just use map, it will show the location of the variable, but if we use the list(map()), then it will show us the values of the variables.

[1, 4, 9, 16, 25]

In [8]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [9]:
mynames = ['John', 'Cindy', 'Sarah','Kevin', 'George']

In [10]:
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

In [11]:
def check_even(num):
    return nums % 2 == 0

In [17]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [18]:
filter(check_even,nums)

In [19]:
list(filter(check_even, nums))

[0, 2, 4, 6, 8, 10]

In [33]:
nums = [1,2,3,4,5]
list(map(lambda item:item ** 2,nums))

[1, 4, 9, 16, 25]

In [23]:
def make_incrementor(n):
    return lambda x: x + n
f = make_incrementor(42)
f(0)

42

In [24]:
f(1)

43

In [25]:
def times2(var):
    return var*2
times2(2)

4

In [26]:
seq = [1,2,3,4,5]

In [27]:
map(times2,seq)

In [28]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [29]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [30]:
filter(lambda item: item%2 == 0,seq)

In [31]:
list(filter(lambda item:item%2 == 0,seq))

[2, 4]

In [34]:
def concat(*args, sep="/"):
    return sep.join(args)

In [35]:
concat("earth","mars","venus")

'earth/mars/venus'

In [36]:
concat("earth", "mars","venus", sep=".")

'earth.mars.venus'

In [40]:
#normal call with separate arguments
list(range(3,6))
args = [3,6]
args

[3, 6]

In [41]:
#call with arguments unpacked from a list
list(range(*args))

[3, 4, 5]

In [42]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [43]:
fruits.count('sajf')

0

In [44]:
fruits.index('apple')

1

In [45]:
fruits.index('apple',2)

5

In [48]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [50]:
fruits.append('grape')
fruits

['banana',
 'apple',
 'kiwi',
 'banana',
 'pear',
 'apple',
 'orange',
 'grape',
 'grape']

In [52]:
fruits.sort()
fruits

['apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'grape',
 'kiwi',
 'orange',
 'pear']

In [54]:
fruits.pop()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'grape', 'kiwi', 'orange']

In [57]:
#List comprehensions provide a concise way to create lists
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [58]:
squares = list(map(lambda x: x**2, range(10)))
#or, equivalently:
squares = [x**2 for x in range(10)]

In [59]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
result = [i/2 for i in range(1,101)]
print(result)

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0, 46.5, 47.0, 47.5, 48.0, 48.5, 49.0, 49.5, 50.0]

In [61]:
#The above line is the better representation of the routine such as:
result = []
for i in range(1,101):
    result.append(i/2)
    
print(result)

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0, 46.5, 47.0, 47.5, 48.0, 48.5, 49.0, 49.5, 50.0]

In [64]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [65]:
#it's equivalent to:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x,y))

In [66]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [67]:
#Always remember, the readability of the code is most important.

vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec] #create a new list with the values doubled

[-8, -4, 0, 4, 8]

In [68]:
[x for x in vec if x>=0] #filter the list to exclude negative numbers

[0, 2, 4]

In [69]:
[abs(x) for x in vec] #apply a function to all the elements

[4, 2, 0, 2, 4]

In [70]:
freshfruit = [' banana', ' Loganberry', 'passion fruit ']
[weapon.strip() for weapon in freshfruit] #call a method on each element

['banana', 'Loganberry', 'passion fruit']

In [71]:
[(x,x**2) for x in range(6)] #create a list of 2-tuples like (number,square)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [73]:
[x,x**2 for x in range(6)] #The tuple must be parenthesized, other wise an error is_raised

SyntaxError: invalid syntax (<ipython-input-73-97b615a2a87f>, line 1)

In [74]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem] #flatten a list using a listcomp with two 'for'

[1, 2, 3, 4, 5, 6, 7, 8, 9]