In [7]:
#Prime numbers
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        #loop fell through without finding a factor 
        print(n, 'is a prime number')
        
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
    continue
print("Found a number", num)

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3
Found an even number 2
Found an even number 4
Found an even number 6
Found an even number 8
Found a number 9

In [22]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [24]:
lst1 = list(range(1,10))
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
d = {'k1':1, 'k2':2, 'k3':3}
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [27]:
str1 = 'Mastering Python'
str1

'Mastering Python'

In [30]:
for k in d:
    print(k)

k1
k2
k3

In [36]:
for k in d.values():
    print(k)

1
2
3

In [34]:
for k in d.items():
    print(k)

('k1', 1)
('k2', 2)
('k3', 3)

In [37]:
for k,v in d.items():
    print(k + '-key', v+10)

k1-key 11
k2-key 12
k3-key 13

In [39]:
for i,j in enumerate(lst1):
    print(i, j*10)

0 10
1 20
2 30
3 40
4 50
5 60
6 70
7 80
8 90

In [41]:
for i, j in enumerate(lst1):
    print(j*10, i, end = '=')

10 0=20 1=30 2=40 3=50 4=60 5=70 6=80 7=90 8=

In [43]:
for i in str1:
    print(i)
    
    #we can use 'i' to print the string, character by character!

M
a
s
t
e
r
i
n
g

P
y
t
h
o
n

In [45]:
knights = {'gallahad': 'the pure', 'robin': 'The brave'}
for k, v in knights.items():
    print(k, v)
 #We are doing items printing here.

gallahad the pure
robin The brave

In [46]:
#position index and corresponding value can be retrieved at the same time
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [50]:
#To loop over two or more sequences at the same time, the entries can be paired
questions = ['name', 'quest', 'fav colour']
answers  = ['lancelot', 'holy grail', 'Blue']
for i, v in answers.format():
    print(i, v)

AttributeError: 'list' object has no attribute 'format'

In [51]:
#To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function.
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [3]:
#to loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered 
basket = ['apple', 'orange', 'pear']
for f in sorted(set(basket)):
    print(f)

apple
orange
pear

In [55]:
def func():
    print('my first function')
    print('Second')

In [56]:
func()

my first function
Second

In [57]:
def funct(n1, n2):
    print('stock: ', n1)
    print('Value: ',n2)

In [58]:
funct(20,30)

stock:  20
Value:  30

In [60]:
funct('name1', 'name2')

stock:  name1
Value:  name2

In [84]:
#Fibonacci series:
# The sum of two elements defines the next 
def fibonacci(n1, n2, n3):
    '''Printing the fibonacci series using function
    n1 -------> value a = 0
    n2 --------> value b = 1
    n3 ---------> range , i.e 100
    
    '''
    a, b = n1, n2
    while b < n3:
        print(b)
        a, b = b, a+b

In [85]:
fibonacci(0,1,100)

1
1
2
3
5
8
13
21
34
55
89

In [79]:
def func(n1, n2, n3):
    '''Documentation of function 
    n1 --> number 1
    n2 --> number 2
    -----------------------------
    '''
    print('first value:', n1+1)
    print('second value', n2)
    tot = n1+n2
    return tot

In [80]:
func(10,1,2)

first value: 11
second value 1

11

In [78]:
print(func.__doc__) #For activating the documentation, we need to use '.__' to activate it.

Documentation of function
    n1 --> number 1
    n2 --> number 2
    -----------------------------

In [1]:
def fib2(n): 
    #return series up to n
    '''Return a list containing the fibonacci series up to n'''
    result = []
    a, b = 0,1
    while a < n:
        result.append(a)
        a , b = b, a + b
    return result
            #This code is complete.

In [2]:
x = fib2(100)
x

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [111]:
a, b = 1, 4 
while a < b:
    print(a)
    a += 1
    
    # a= a+1
    # [a += 1] same thing
    # a = a*2
    # a *= 2

1
2
3

In [5]:
def ask_ok(prompt, retries = 4, reminder = 'Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye','yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('Invalid user response')
            print(reminder)
            
ask_ok('Ok to overwrite the file?\n', 2, 'Come on, you had one job, Yes or No!')
ask_ok('Do you really want to quit?\n')
ask_ok('OK to overwrite the file?\n', 2)

Ok to overwrite the file?
yes
Do you really want to quit?
yes
OK to overwrite the file?
yes

True