In [1]:
cubes = [1, 8 ,27, 65,125]
cubes[3] = 64
print(cubes)

[1, 8, 27, 64, 125]

In [2]:
cubes.append(216)

In [3]:
cubes.append(7 ** 3)

In [4]:
print(cubes)

[1, 8, 27, 64, 125, 216, 343]

In [6]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [7]:
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [8]:
letters[2:5] = []

In [9]:
letters

['a', 'b', 'f', 'g']

In [10]:
len(letters)

4

In [11]:
edward = ['Edward Gumby', 42]
john = ['John Smith',50]
database = [edward, john]
database

[['Edward Gumby', 42], ['John Smith', 50]]

In [12]:
a = ['a', 'b', 'c' ]
n = [1, 2, 3]
x = [a, n]
x
x[0]
x[0][1]

'b'

In [13]:
a = ['a', 'b', 'c' ]
n = [1, 2, 3]
x = [a, n]
x
x[0]

['a', 'b', 'c']

In [14]:
a = ['a', 'b', 'c' ]
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [15]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July']

In [20]:
17*['th']

['th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th']

In [17]:
5 * 'th'

'ththththth'

In [18]:
5 * ['th']

['th', 'th', 'th', 'th', 'th']

In [21]:
a = input()

1

In [22]:
type(a)

str

In [23]:
int(a)

1

In [61]:
endings = ['st', 'nd', 'rd'] + 17 * ['th']\
+['st','nd' ,'rd'] + 7*['th'] + ['st'] 
day = input('Day(1-31):')
month = input('Month(1-12):')
year = input('year: ')
month_number = int(month)
day_number = int(day)
#remember to subtract 1 from month and day to get a correct index
month_name = months[month_number-1]
ordinal = day + endings[day_number-1]
print(month_name + '' + ordinal + ',' + year)

Day(1-31):2
Month(1-12):1
year: 1999
January2nd,1999

In [33]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[3:6]
numbers[0:1]

[1]

In [34]:
#          0  1  2  3  4  5  6  7  8  9

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers[7:10]

[8, 9, 10]

In [36]:
#       -10  -9 -8 -7 -6 -5 -4 -3 -2 -1
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers[-3:-1]

[8, 9]

In [41]:
int(input('Enter a number')) = ['1', '2', '3', '4']

SyntaxError: can't assign to function call (<ipython-input-41-e96a49bf3912>, line 1)

In [42]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [43]:
[43]* 10

[43, 43, 43, 43, 43, 43, 43, 43, 43, 43]

In [47]:
permissions = 'rw'
'w' in permissions

True

In [45]:
subject = '$$$GET RICH NOW'
'$$$' in subject

True

In [51]:
if 1>2:print('something')

In [53]:
#check a username and pin code
database = [\
           ['albert', '1234'],\
            [ 'dilbert', '3232'],\
            ['smith', '7524'],\
            
            ]

In [57]:
username = input('Username : ')
password = input('Shh..')
if [username,password]:database

Username : smith
Shh..7524

In [59]:
numbers = [100, 34, 678]
len(numbers)
max(numbers)
min(numbers)
max(2,3)
min(5,43,668,8,1)
list('Hello')

['H', 'e', 'l', 'l', 'o']