In [13]:
import datetime

In [6]:
datetime_object = datetime.datetime.now()
datetime_object

datetime.datetime(2020, 5, 12, 18, 18, 41, 967211)

In [8]:
date = datetime.date.today()
date

datetime.date(2020, 5, 12)

In [17]:
import math

In [18]:
math.sqrt(81)

9.0

In [19]:
type(date)

datetime.date

In [22]:
d =datetime.date(2020, 2, 12)
d

datetime.date(2020, 2, 12)

In [24]:
lst =[1,2,3,4]
lst.append(20)
lst.insert(0,8)
lst

[8, 1, 2, 3, 4, 20]

In [26]:
date.year

2020

In [27]:
date.day

12

In [28]:
date.month

5

In [31]:
datetime_object.microsecond

967211

In [32]:
datetime_object.hour

18

In [33]:
d.ctime

In [35]:
d.day

12

In [37]:
d.year

2020

In [38]:
time = datetime.time(11,5,22,111)
time

datetime.time(11, 5, 22, 111)

In [39]:
time.hour

11

In [40]:
time.microsecond

111

In [42]:
time.minute

5

In [52]:
d1 = datetime.date.today()
d1

datetime.date(2020, 5, 12)

In [49]:
d2 = datetime.date(2020,10,14)
d2

datetime.date(2020, 10, 14)

In [53]:
d2 - d1

datetime.timedelta(days=155)

In [54]:
datetime.datetime.now() - datetime.datetime(2020,1,1)

datetime.timedelta(days=132, seconds=67396, microseconds=749871)

In [55]:
now = datetime.datetime.now()

In [56]:
now

datetime.datetime(2020, 5, 12, 18, 44, 44, 977655)

In [70]:
t = now.strftime('%H:%M:%S - - - %Y-%m-%D')
t

'18:44:44 - - - 2020-05-05/12/20'

In [66]:
type(t)

str

In [71]:
date_string = '11 May 2020'

In [72]:
now = datetime.date.today()
now

datetime.date(2020, 5, 12)

In [76]:
datetime.datetime.strptime(date_string, '%d %B %Y')
#%B is the month in text form.
#%m is month in datetime library
#%M is minutes in datetime library

datetime.datetime(2020, 5, 11, 0, 0)

In [78]:
user_input = input('dd/mm/yyyy')
user_input

dd/mm/yyyy12/05/2020

'12/05/2020'

In [79]:
date = datetime.datetime.strptime(user_input,'%d/%m/%Y')
date

datetime.datetime(2020, 5, 12, 0, 0)

In [80]:
now.strftime('%d %B, %Y')

'12 May, 2020'

In [87]:
#begin
import math
result = []
for i in range(2000,3201):
    if(i % 7 == 0) and (i%5!=0):
        result.append(str(i))
print(','.join(result))     
#print(result) if we use this, we will get the answer,but we need to provide them with what they have asked,so no fooling around.

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [91]:
def fact(x):
    pass #implement here
    if x==0:
        return 1
    return x*fact(x-1)

x = int(input())
print(fact(x))

8
40320

In [92]:
n = int(input('Enter n: '))
d= dict()
for i in range(1,n+1):
    d[i] = i*i
print(d)

Enter n: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [93]:
#Or you can use list comprehension
[i*i for i in range(1,n+1)]

[1, 4, 9, 16, 25, 36, 49, 64]

In [94]:
#This is dictionary comprehension
{i:i*i for i in range(1,n+1)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [95]:
v = input('enter the values: ')

enter the values: 34,67,55,33,12,98

In [96]:
v.split(',')

['34', '67', '55', '33', '12', '98']

In [97]:
tuple(v.split(','))

('34', '67', '55', '33', '12', '98')

In [98]:
#solution
def square(num):
    return num*num

print(square(2))
print(square(3))

4
9

In [99]:
def SumFunction(number1, number2):
    return number1 + number2

print(SumFunction(1,2))

3